{{ define "main" }}
<div class="blog-list">
    {{ if .Title }}
        <h2 class="body-text-header">{{ .Title }}</h2>
    {{ end }}
    
    {{ if .Content }}
        <div class="blog-description">
            {{ .Content }}
        </div>
    {{ end }}
    
    <div class="posts-list">
        {{ range .Pages }}
            <article class="post-preview">
                <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                {{ if .Date }}
                    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
                {{ end }}
                {{ if .Summary }}
                    <p>{{ .Summary }}</p>
                {{ end }}
                {{ if .Params.tags }}
                    <div class="tags">
                        {{ range .Params.tags }}
                            <span class="tag">{{ . }}</span>
                        {{ end }}
                    </div>
                {{ end }}
            </article>
        {{ end }}
    </div>
</div>
{{ end }}
